<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <title>EAT-DA-BURGER!</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/burgers.js"></script>
</head>

<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1 class="display-2">🍔 EAT-DA-BURGER! 🍔</h1>
            <hr>
            <p>Enter the name of all the delicious burgers you want eat, then update your list after you DEVOUR them.</p>
        </div>
        {{{ body }}}
    </div>
</body>

</html>